@import url('http://fonts.cdnfonts.com/css/alone-in-space');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

canvas {
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
}

* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* position the navbar center right */
.navbar {
  position: fixed;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
}

/* style the individual nav items */
.navbar a {
  /* make them little circles */
  display: block;
  border-radius: 50%;
  border: 1px solid white;
  width: 20px;
  height: 20px;

  /* with some space between them */
  margin: 20px 0;

  /* hide the text content */
  text-indent: -999px;
  overflow: hidden;

  /* establish positioning conext for the ::after pseudo-elements (below)*/
  position: relative;
}

/* the "fill" */
.navbar a::after {
  /* won't render without a 'content' rule */
  content: '';

  /* white fill */
  background-color: #fff;

  /* zero height until it's active */
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  right: 0;
  width: 100%;

  /* animate the height when it changes */
  transition: height 0.3s ease;
}

/* active and hovered elements */
.navbar a:hover::after,
.navbar a.active::after {
  /* change the height to 100%.
     the transition rule above will cause this to animate */
  height: 100%;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: #e0ffff;
}
section:nth-child(2) {
  color: #42455a;
  /* background: #e0ffff; */
}
section:nth-child(3) {
  color: #e0ffff;
}
section:nth-child(4) {
  color: #42455a;
  /* background: #e0ffff; */
}
section:nth-child(5) {
  color: #e0ffff;
}
section .container {
  margin: 100px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  margin: 20px;
  padding: 20px;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.fading {
  animation: fadein 8s;
}

.fadingOut{
  animation: fadeout 2s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@keyframes fadeout {
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}

@media (max-width: 900px){
  video{
    width: 600px;
  }
}

@media (min-width: 901px){
  video{
    width: 1000px;
  }
}

/* TYPOGRAPHY */
.bold-1 {
  font-weight: bold;
  color: #00c2cb
}

#photo{
  overflow: hidden;
}

.ring, .pho {
  width:100%;
  height: 100%;
  transform-style: preserve-3d;
  user-select:none;
}

/* div, svg {
  position: absolute;
} */

.component {
  perspective: 2000px;
  /* width: 300px; */
  /* height: 400px; */
  /* left:50%; */
  top:50%;
  transform:translate(-50%,-50%);
}

